@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>Cart</p>

        </div>
        <section class="sectiongap cartpage-main">
            <div class="container">
                <div class="d-flex mb-4 justify-content-between align-items-center">
                    <div class="title-cart" id="cart-itms"><h1><span>Your Cart</span> (6 items)</h1></div>
                    <div class="con-spoping">
                        <a class="con-spoping-btn" href="https://www.oxfordbookstore.com">Continue Shopping</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="product-list">

                            <form action="" id="cart-form">
                                <div class="pr-listbox" cart-item="2954">
                                    <div class="list-primg">
                                        <img src="https://www.oxfordbookstore.com/public/uploads/product_images/1713941621_9789354899775.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="https://www.oxfordbookstore.com/product-details/the-80-20-money-makeover-9605">The 80-20 Money Makeover</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            Arun Kumar
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.04% Off</b></p>


                                        ₹399.00
                                        <del>₹499</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2954" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2954">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2954" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>₹399.00</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2954')">Remove</a>
                                    </div>
                                </div>


                                <div class="pr-listbox" cart-item="2955">
                                    <div class="list-primg">
                                        <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9789356999978.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="https://www.oxfordbookstore.com/product-details/11-rules-for-life-secrets-to-level-up-8904">11 Rules For Life: Secrets to Level Up</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            Chetan Bhagat
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.00% Off</b></p>


                                        ₹200.00
                                        <del>₹250</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2955" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2955">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2955" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>₹200.00</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2955')">Remove</a>
                                    </div>
                                </div>


                                <div class="pr-listbox" cart-item="2956">
                                    <div class="list-primg">
                                        <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9780670099818.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="https://www.oxfordbookstore.com/product-details/make-epic-money-1461">Make Epic Money</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            Ankur Warikoo
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.05% Off</b></p>


                                        ₹319.00
                                        <del>₹399</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2956" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2956">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2956" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>₹319.00</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2956')">Remove</a>
                                    </div>
                                </div>


                                <div class="pr-listbox" cart-item="2957">
                                    <div class="list-primg">
                                        <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9789392099922.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="https://www.oxfordbookstore.com/product-details/krishna-3680">Krishna</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            Kevin Missal
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.05% Off</b></p>


                                        ₹319.00
                                        <del>₹399</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2957" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2957">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2957" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>₹319.00</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2957')">Remove</a>
                                    </div>
                                </div>


                                <div class="pr-listbox" cart-item="2958">
                                    <div class="list-primg">
                                        <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9789390976713.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="https://www.oxfordbookstore.com/product-details/mehrunissa-3108">Mehrunissa</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            ANAND NAYAK
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.03% Off</b></p>


                                        ₹479.00
                                        <del>₹599</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2958" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2958">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2958" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>₹479.00</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2958')">Remove</a>
                                    </div>
                                </div>


                                <div class="pr-listbox" cart-item="2959">
                                    <div class="list-primg">
                                        <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9789395106122.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="https://www.oxfordbookstore.com/product-details/lost-in-the-love-maze-0008">Lost In The Love Maze</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            MUKUL KUMAR
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.00% Off</b></p>


                                        ₹260.00
                                        <del>₹325</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2959" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2959">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2959" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>₹260.00</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2959')">Remove</a>
                                    </div>
                                </div>


                                <p class="text-right">


                                </p>
                            </form>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="checkoutslip" id="checkoutslip">
                            <h2>Order Summary</h2>
                            <div class="row">
                                <div class="col-7">
                                    <h5>Subtotal</h5>
                                </div>
                                <div id="summary_price" class="col-5 text-right">
                                    <h5>₹1,976.00</h5>
                                </div>



                                <div class="col-7">
                                    <h5>Tax(0%)</h5>
                                </div>
                                <div class="col-5 text-right text-danger">
                                    <h5> ₹0.00</h5>
                                </div>







                                <div class="col-7 code_div">
                                    <input type="text" name="code" id="code" placeholder="Enter Coupon/Promocode">
                                </div>
                                <div class="col-5 text-right text-danger code_div">
                                    <button type="button" onclick="promo_apply(document.getElementById('code').value)" class="btn btn-danger">Apply</button>
                                </div>


                            </div>
                            <div class="gap-cart">
                                <div class="row">
                                    <div class="col-7">
                                        <h4>Total Amount</h4>
                                    </div>
                                    <div id="total_price" class="col-5 text-right">
                                        <h4 id="gross_price">₹1,976.00</h4>
                                    </div>
                                </div>
                            </div>




                            <form action="https://www.oxfordbookstore.com/address" method="post">
                                <input type="hidden" name="_token" value="sRI41273rAWxwfdmqISFEsqpE3pPr6Y4xX4u4AWZ">                        <button class="btn chakeout-btn w-100">Proceed To Address Select</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
