@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>Cart</p>

        </div>
        <section class="sectiongap cartpage-main">
            <div class="container">
                <div class="d-flex mb-4 justify-content-between align-items-center">
                    <div class="title-cart" id="cart-itms"><h1><span>Your Cart</span> (1 items)</h1></div>
                    <div class="con-spoping">
                        <a class="con-spoping-btn" href="/Home">Continue Shopping</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="product-list">

                            <form action="" id="cart-form">
                                <div class="pr-listbox" cart-item="2954">
                                    <div class="list-primg">
                                        <img src="/images/tuduytontai.jpg">

                                    </div>
                                    <div class="checkdetails">
                                        <h3><a href="#">TA TƯ DUY<br>TA TỒN TẠI</a></h3>
                                        <h6>
                                            <span>Book Author:</span>
                                            James Allen
                                        </h6>
                                        <p>1 Offer Applied <i class="bi bi-info-circle-fill"></i> <b> 20.04% Off</b></p>


                                        399$
                                        <del>499$</del>
                                    </div>
                                    <div class="qunatity-check ml-auto">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number q_inc_dec" data-rec_id="2954" data-type="minus" data-field="">

                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </span>
                                            <input type="hidden" name="item_id[]" value="2954">

                                            <input type="text" id="q_cart" name="quantity[]" class="form-control input-number" value="1" min="1" max="3" readonly="">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number q_inc_dec" data-rec_id="2954" data-type="plus" data-field="">
                                                    <i class="bi bi-plus"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="price-check">
                                        <h5> <del></del> <span>399$</span></h5>
                                        <a class="rm-btn" onclick="remove_from_cart('2954')">Remove</a>
                                    </div>
                                </div>
                                <p class="text-right">


                                </p>
                            </form>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="checkoutslip" id="checkoutslip">
                            <h2>Order Summary</h2>
                            <div class="row">
                                <div class="col-7">
                                    <h5>Subtotal</h5>
                                </div>
                                <div id="summary_price" class="col-5 text-right">
                                    <h5>1,976.00$</h5>
                                </div>



                                <div class="col-7">
                                    <h5>Tax(0%)</h5>
                                </div>
                                <div class="col-5 text-right text-danger">
                                    <h5> 0.00$</h5>
                                </div>


                            </div>
                            <div class="gap-cart">
                                <div class="row">
                                    <div class="col-7">
                                        <h4>Total Amount</h4>
                                    </div>
                                    <div id="total_price" class="col-5 text-right">
                                        <h4 id="gross_price">1,976.00$</h4>
                                    </div>
                                </div>
                            </div>




                            <a href="/Pay" class="chakeout-btn">
                                <button class="btn chakeout-btn w-100">Proceed To Address Select</button>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
