@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.Service;
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="@(RouteConstant.HOME)">Home</a>
            <span>&#10095;</span>
            <p>FORGOT PASSWORD</p>

        </div>
        <section class="login sectiongap">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="left-log">
                            <img src="/images/logo-login.jpg">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="form-wrap">
                            <h5>Forgot Password</h5>
                            <form  method="post" id="loginform" novalidate="novalidate">
                                <input type="hidden" name="_token" value="">  
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email id" name="email">
                                </div>


                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </form>
                            <p class="text-center mb-0">Go back to Login? <a href="@(RouteConstant.LOGIN)">Log In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>