.header-search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 487px;
    height: 40px;
    border: 1px solid var(--black-color);
}

    .header-search-wrap > input {
        border: none;
        height: 100%;
        outline: none;
        padding: 9.6px 12px;
        flex: 1;
        font-size: 13px;
    }

    .header-search-wrap > .header-search-btn {
        border: none;
        background-color: var(--primary-color);
        height: 100%;
        padding: 8px 24px;
        opacity: 0.6;
        cursor: default;
    }

        .header-search-wrap > .header-search-btn.active {
            opacity: 1;
            background-color: var(--primary-color);
            cursor: pointer;
        }

        .header-search-wrap > .header-search-btn > i {
            color: var(--white-color);
        }
}
