@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Create Series</h3>
        </div>
        <div class="col-lg-12">
            <form asp-action="Create" method="POST" id="frmCreateSeries">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="txtName">Name <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtName" name="Name" rules="required" placeholder="Enter series name..."/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="txtVolumns">Volumns</label>
                            <input type="number" value="1" class="form-control" id="txtVolumns" name="Volumns" min="1" />
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function init() {
            Validator("#frmCreateSeries");
        }
        init();
    </script>
}