<section class="wrap-location">
    <iframe src="https://www.google.com/maps/d/embed?mid=1hh3OS7kbaVSjVmy3HDW-KuVPzMUjWqs&ehbc=2E312F" class="location"></iframe>
</section>

<section class="wrap-info-localtion">
    <div class="container">
        <div class="wrap-info-localtion-inner">
            <h3 class="info-location-title">STORE LOCATIONS</h3>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card-info-location">
                        <div class="card-info-location-title">
                            <p>KAP Bookstore</p>
                        </div>
                        <div class="card-info-location-wrap-content">

                            <div class="card-info-location-content">
                                <span>Address:</span>
                                <p>
                                    141 Dien Bien Phu, phuong 25, Quan Binh Thanh, Tp. Ho Chi Minh, Viet Nam
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Pincode:</span>
                                <p>
                                    700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Email:</span>
                                <p>
                                    kietpg21@uef.edu.vn
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Mobile:</span>
                                <p>
                                    0376976198
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
               @*  <div class="col-lg-6">
                    <div class="card-info-location">
                        <div class="card-info-location-title">
                            <p>Oxford Bookstore Kolkata</p>
                        </div>
                        <div class="card-info-location-wrap-content">

                            <div class="card-info-location-content">
                                <span>Address:</span>
                                <p>
                                    17, Park Street, Kolkata - 700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Pincode:</span>
                                <p>
                                    700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Email:</span>
                                <p>
                                    oxfordkol@apeejaygroup.com
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Mobile:</span>
                                <p>
                                    93300 20986
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-info-location">
                        <div class="card-info-location-title">
                            <p>Oxford Bookstore Kolkata</p>
                        </div>
                        <div class="card-info-location-wrap-content">

                            <div class="card-info-location-content">
                                <span>Address:</span>
                                <p>
                                    17, Park Street, Kolkata - 700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Pincode:</span>
                                <p>
                                    700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Email:</span>
                                <p>
                                    oxfordkol@apeejaygroup.com
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Mobile:</span>
                                <p>
                                    93300 20986
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-info-location">
                        <div class="card-info-location-title">
                            <p>Oxford Bookstore Kolkata</p>
                        </div>
                        <div class="card-info-location-wrap-content">

                            <div class="card-info-location-content">
                                <span>Address:</span>
                                <p>
                                    17, Park Street, Kolkata - 700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Pincode:</span>
                                <p>
                                    700016
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Email:</span>
                                <p>
                                    oxfordkol@apeejaygroup.com
                                </p>
                            </div>
                            <div class="card-info-location-content">
                                <span>Mobile:</span>
                                <p>
                                    93300 20986
                                </p>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</section>