@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Create Genre</h3>
        </div>
        <div class="col-lg-12">
            <form asp-action="Create" method="POST" id="frmCreateGenre">
                <div class="form-group">
                    <label class="form-label" for="txtName">Name <span class="required text-danger">*</span></label>
                    <input type="text" class="form-control" id="txtName" name="Name" placeholder="Enter genre name..." rules="required"/>
                    <span class="text-danger text-sm-center form-message" hidden></span>
                </div>
                <div class="form-group mt-2">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            function init() {
                Validator("#frmCreateGenre");
            }
            init();
        });
    </script>
}