@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>CONTACT US</p>

        </div>
        <section class="contact-us sectiongap">
        <div class="container">
            <h3 class="text-center heading">Contact Us</h3>
            <div class="row justify-content-center">
                <div class="col-md-5 cd-wrap">
                    <div class="contact-detail-wrap">
                        <div class="cd-heading">
                            <h3>Contact Details</h3>
                        
                        </div>
                    
                    

                        <div class="media mb-3">
                            <div class="media-body cd-cont">
                            
                                <h5><p><strong>HEAD OFFICE:</strong></p></h5>
                                    <h5><p><i class="bi bi-geo-alt" aria-hidden="true"></i> 141 Dien Bien Phu, phuong 15, quan Binh Thanh, Tp. HCM</p></h5>
                                    <h5><p><i class="bi bi-envelope" aria-hidden="true"></i><a href="mailto:support@oxfordbookstore.com"> kietpg@uef.edu.vn</a></p></h5>
                                    <h5><p><i class="bi bi-telephone" aria-hidden="true"></i> +83 7697 6198</p></h5>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 cd-wrap">
                    <div class="cd-form-wrap">
                        <div class="cd-heading">
                            <h3>Get In Touch</h3>
                       
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-4 fc-box">
                                <input type="text" class="form-control" name="name" placeholder="Name" id="contact_name" aria-describedby="emailHelp">
                                <span class="err error_contact_name" style="display: none;"></span>
                            </div>

                            <div class="col-md-6 mb-4 fc-box">
                                <input type="text" class="form-control" name="phoneno" placeholder="Phone No." id="contact_phoneno" aria-describedby="emailHelp">
                                <span class="err error_contact_phoneno" style="display: none;"></span>
                            </div>
                            <div class="col-md-6 mb-4 fc-box">
                                <input type="email" class="form-control" name="emailid" placeholder="Email address" id="contact_emailid" aria-describedby="emailHelp">
                                <span class="err error_contact_emailid" style="display: none;"></span>
                            </div>

                            <div class="col-md-12 mb-4 fc-box">
                                <textarea class="form-control" placeholder="Your Message" name="msg" id="contact_msg" rows="3" data-gramm="false" wt-ignore-input="true"></textarea>
                                <span class="err error_contact_msg" style="display: none;"></span>
                            </div>

                            <span id="captcha_error" style="color: red; display: none;">Validate Captcha</span>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6Lc6nfMlAAAAAIF1kGsOj5cW3HVBtVpiH2h7bolB" id="RecaptchaField1"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-r2yslwy9st6p" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lc6nfMlAAAAAIF1kGsOj5cW3HVBtVpiH2h7bolB&amp;co=aHR0cHM6Ly93d3cub3hmb3JkYm9va3N0b3JlLmNvbTo0NDM.&amp;hl=vi&amp;v=DH3nyJMamEclyfe-nztbfV8S&amp;size=normal&amp;cb=cjulaos5tqq8"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;" data-gramm="false" wt-ignore-input="true"></textarea></div><iframe style="display: none;"></iframe></div>
                            </div>
                            <input type="hidden" class="hiddenRecaptcha" name="ct_hiddenRecaptcha" id="ct_hiddenRecaptcha">
                            <div class="form-group">
                                <a class="viewmore" href="#0" onclick="countactsubmit()">SEND MESSAGE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 cd-wrap">
                        <section class="wrap-location">
                            <iframe src="https://www.google.com/maps/d/embed?mid=1hh3OS7kbaVSjVmy3HDW-KuVPzMUjWqs&ehbc=2E312F" class="location" width="100%" height="480"></iframe>
                        </section>
                </div>
            </div>
        </div>
        </section>
    </div>
</div>