@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>ABOUT US</p>

        </div>
        <div class="container">
            <h3 class="text-center heading">ABOUT US</h3>
            <div class="content-page">
                <p>
                    Established in 1919, Oxford Bookstore is the best equipped ‘base-camp’ for journeys of the mind offering its customers the widest range of outstanding titles and consistently courteous and informed service for more than a century. Today, with stores in major metros, India’s first of its kind tea boutique, Cha Bar, India’s only bookstore to curate multiple literary festivals like Apeejay Kolkata Literary Festival, Apeejay Bangla Sahitya Utsob and Hindi Sahitya Utsav, Oxford Bookstore offers booklovers access to the very best in publishing enhanced by a variety of events which salute books, visual & performing arts and celebrate the word.
                </p>
                <p>
                    Oxford Bookstore measures its success by the smiles on millions of happy customers that the brand has served over the last 100 years. There are a few treats as sumptuous as a visit to Oxford Bookstore in India. Each time you walk into our iconic store in Kolkata where the brand started in 1919, its charm leaves you wanting for more. Our fleet of happy to help expert booksellers and informed hosts work day and night to bring to customers world class reading experience be it through our books or our fine teas and live by the brand’s motto – Much more than a bookstore – at every Bookstore.
                </p>
            </div>
            
        </div>
    </div>
</div>
