@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <nav class="nav-category">
        <div class="container">
            <div class="nav-category-inner">
                <ul class="nav-category-list">
                    <li><a class="nav-category-item" href="@(RouteConstant.HOME)">HOME</a></li>
                    <li><a class="nav-category-item" href="@(RouteConstant.LIST)?Service=NewReleases">NEW RELEASES</a></li>
                    <li><a class="nav-category-item" href="@(RouteConstant.LIST)?Service=BestSellers">BESTSELLERS</a></li>
                    <li><a class="nav-category-item" href="@(RouteConstant.BOOK_REQUEST)">BOOK REQUEST</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


