<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreKAP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStoreKAP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="header">
        <section class="header-top">
            <p>BUY BESTSELLERS AT UNBELIEVABLE DISCOUNTS! </p>
            <a href="#">SHOP NOW</a>
        </section>

        <div class="container">
            <nav class="nav">
                <ul class="nav-list">
                    <li>
                        <a href="#" class="nav-item"><i class="bi bi-geo-alt"></i> <span>Store Location</span> </a>
                    </li>
                    <li>
                        <a href="/AboutUs" class="nav-item">About Us</a>
                    </li>
                    <li>
                        <a href="/Blog" class="nav-item">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="nav-item">Contact Us</a>
                    </li>
                </ul>

                <ul class="nav-list">
                    <li >
                        <a href="#" class="nav-item">
                            <i class="bi bi-person nav-icon"></i>
                            <span>Login</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <section class="header-search">
                <div class="header-search-img">
                    <a href="#">
                        <img src="images/logo.jpg" alt="logo" />
                    </a>
                </div>

                <div class="header-search-content-left">
                    <div class="header-search-wrap">
                        <input type="text" placeholder="Search by author, Publisher, Book type, Category, SKU" />
                        <button class="header-search-btn active"><i class="bi bi-search"></i></button>
                    </div>

                    <div class="header-search-cart">
                        <div class="header-search-wrap-cart-icon">
                            <i class="bi bi-bag"></i>
                            <span>0</span>
                        </div>
                        <p>CART</p>
                    </div>

                    <div class="header-search-wrap-btn">
                        <a href="#" class="header-search-btn">
                            SEE ALL OFFERS
                        </a>
                    </div>
                </div>
            </section>
        </div>

    </header>

    <main role="main" class="app">
        <nav class="nav-category">
            <div class="container">
                <div class="nav-category-inner">
                    <ul class="nav-category-list">
                        <li><a class="nav-category-item" href="/">HOME</a></li>
                        <li><a class="nav-category-item" href="/NewReleases">NEW RELEASES</a></li>
                        <li><a class="nav-category-item" href="#">BESTSELLERS</a></li>
                        <li><a class="nav-category-item" href="#">BOOK REQUEST</a></li>
                        <li><a class="nav-category-item" href="#">CHA BAR</a></li>
                        <li><a class="nav-category-item" href="#">FESTIVALS</a></li>
                        <li><a class="nav-category-item" href="#">EVENTS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookStoreKAP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
