@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>BLOGS</p>

        </div>
        <div class="container">
            <h3 class="text-center heading">BLOGS</h3>
            <div class="row mt-4 blog-row">
                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 blog-col">
                    <div class="festivel-box blog-box">
                        <div class="festivel-img">
                            <a href="#"><img src="/images/blog1.jpg"></a>
                        </div>
                        <div class="festivel-content">
                            <div class="d-flex justify-content-between align-items-center fc-head">
                                <p><i class="bi bi-person-fill"></i> KAP Admin</p>
                                <p>
                                    <i class="bi bi-calendar"></i> Oct 19, 2023
                                </p>
                            </div>
                            <h3><a href="#">KAP Bookstore Book Cover Prize 2023</a></h3>
                            <div class="fc-text">
                                <div class="media">
                                    <i class="bi bi-rss-fill" aria-hidden="true"></i>
                                    <div class="media-body">
                                        <h6 class="mt-0">9th edition of KAP Bookstore Book Cover Prize 2023</h6>
                                    </div>
                                </div>
                            </div>
                            <span class="arrow-red"><a href="#">Read More<i class="bi bi-arrow-right"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 blog-col">
                    <div class="festivel-box blog-box">
                        <div class="festivel-img">
                            <a href="#"><img src="/images/blog2.jpg"></a>
                        </div>
                        <div class="festivel-content">
                            <div class="d-flex justify-content-between align-items-center fc-head">
                                <p><i class="bi bi-person-fill"></i> KAP Admin</p>
                                <p>
                                    <i class="bi bi-calendar"></i> Dec 01, 2023
                                </p>
                            </div>
                            <h3><a href="#">KAP Bookstore Art Book Prize</a></h3>
                            <div class="fc-text">
                                <div class="media">
                                    <i class="bi bi-rss-fill" aria-hidden="true"></i>
                                    <div class="media-body">
                                        <h6 class="mt-0">KAP Bookstore Art Book Prize</h6>
                                    </div>
                                </div>
                            </div>
                            <span class="arrow-red"><a href="#">Read More<i class="bi bi-arrow-right"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4 col-md-6 col-sm-6 blog-col">
                    <!-- Content for the third blog column -->
                </div>

                <div class="text-center mt-3 w-100">
                </div>
            </div>

        </div>
    </div>
</div>