@font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri.woff2') format('woff2'), url('/fonts/calibrib.woff2') format('woff');
}

:root {
    --primary-color: #da1f26;
    --white-color: #fff;
    --black-color: #000;
    --text-color-light: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', sans-serif;
}

a {
    text-decoration: none;
}

p {
    padding:0;
    margin:0;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

