@model ReqCreateTag

@{
    ViewBag.Title = "Create Tag";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Create Tag</h3>
        </div>
        <div class="col-lg-12 mt-4">
            <form asp-action="Create" method="POST" id="frmCreateTag" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-center">
                            <div class="form-group">
                                <label for="imgThumbnail">
                                    <img id="previewThumbnail" src="https://placehold.co/200x200" width="200" height="200" class="img-thumbnail" />
                                </label>
                                <input type="file" id="imgThumbnail" name="Thumbnail" hidden />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="form-group">
                            <label class="form-label" for="txtName">Name <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtName" name="Name" placeholder="Enter tag name..." required />
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="form-group">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            const handleChangeUploadImage = () => {
                $('#imgThumbnail').change(function () {
                    const [file] = this.files;
                    if (file) {
                        $('#previewThumbnail').attr('src', URL.createObjectURL(file));
                    }
                });
            };


            function init() {
                Validator("#frmCreateTag");
                handleChangeUploadImage();
            }
            init();
        });
    </script>
}
