@{
    ViewData["FavoriteBooks"] = "FavoriteBooks";
}

<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>@(ViewBag.Service)</p>

        </div>
        <div class="header-wrap">

            <h3 class="header">@(ViewBag.Service)</h3>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
           

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="wishlist-header">
                    <h2>Favorite Books</h2>
                </div>
                <div class="table-responsive wishlist-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product Details</th>
                                <th>Date Added</th>
                                <th>Total</th>
                                <th>Stock Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

