@model List<Role>
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="POST" id="frmCreateDomain">
    <input type="hidden" name="AccessControllerID" value="@(ViewBag.AccessControllerID)" />
    <div class="form-group mb-3">
        <select class="form-select" id="cboRoles" name="RoleID">
            @foreach (var role in Model)
            {
                <option value="@(role.Id)">@(role.Name)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-success">Add</button>
    </div>
</form>
