@model List<Domain>
@{

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4>Role: <strong><span class="text-primary">@(ViewBag.RoleName)</span></strong></h4>
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Controller</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i< Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@(Model[i].AccessController.Name)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>