@model List<Tag>
<nav class="nav-category">
    <div class="container">
        <div class="nav-category-inner">
            <ul class="nav-category-list">
                <li><a class="nav-category-item" href="@(RouteConstant.HOME)">HOME</a></li>
                @foreach (var item in Model)
                {
                    <li><a class="nav-category-item" href="@(RouteConstant.LIST)?Service=@item.Name">@item.Name</a></li>

                }

                <li><a class="nav-category-item" href="@(RouteConstant.BOOK_REQUEST)">BOOK REQUEST</a></li>
            </ul>
        </div>
    </div>
</nav>
