@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>REGISTER</p>

        </div>
        <section class="login sectiongap">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="left-log">
                            <img src="https://www.oxfordbookstore.com/public/customResource/apeejay-frontend/images/log-bg.jpg">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="form-wrap">
                            <h5>Register</h5>
                            <form method="post" action="https://www.oxfordbookstore.com/register_submit" id="loginform" novalidate="novalidate">
                                <input type="hidden" name="_token" value="68J7xasNbldYvza2VLFyoxoOvbvlS7d5udRSKckL">                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputname" aria-describedby="emailHelp" placeholder="Name" name="name">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputemail" placeholder="Email" name="email">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone" name="mobile">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password_confirmation">
                                </div>

                                <span id="captcha_error" style="color: red; display: none;">Validate Captcha</span>
                                <div class="form-group">

                                    <div class="g-recaptcha" data-sitekey="6Lc6nfMlAAAAAIF1kGsOj5cW3HVBtVpiH2h7bolB" id="RecaptchaField1"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-lpygvfemx2ly" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lc6nfMlAAAAAIF1kGsOj5cW3HVBtVpiH2h7bolB&amp;co=aHR0cHM6Ly93d3cub3hmb3JkYm9va3N0b3JlLmNvbTo0NDM.&amp;hl=vi&amp;v=9pvHvq7kSOTqqZusUzJ6ewaF&amp;size=normal&amp;cb=le1da6s3a6v8"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            <p class="text-center mb-0">Back to Login? <a href="/Login">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>