@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>REGISTER</p>

        </div>
        <section class="login sectiongap">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="left-log">
                            <img src="https://www.oxfordbookstore.com/public/customResource/apeejay-frontend/images/log-bg.jpg">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="form-wrap">
                            <h5>Register</h5>
                            <form method="post"  id="loginform" novalidate="novalidate">
                                <input type="hidden" name="_token" value="68J7xasNbldYvza2VLFyoxoOvbvlS7d5udRSKckL">                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputname" aria-describedby="emailHelp" placeholder="Name" name="name">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputemail" placeholder="Email" name="email">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone" name="mobile">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password_confirmation">
                                </div>

                                

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            <p class="text-center mb-0">Back to Login? <a href="/Login">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>