@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="container"> 
        <div class="breadcrumb-wrap">
            <a href="/">Home</a>
            <span>&#10095;</span>
            <p>New Releases</p>
            
        </div>
        <div class="header-wrap">

        <h3 class="header">NEW RELEASES</h3>
        <div class="wrap-btn">
                <button class="active"><i class="bi bi-grid"> </i></button>
                <button><i class="bi bi-list"> </i></button>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="side-bar">
                    <div class="side-category">
                        <p>PRODUCT CATEGORIES</p>
                    
                        <div class="side-bar-item">
                            <p><strong>Books</strong></p>
                            <span><i class="bi bi-chevron-down"></i></span>
                        </div>
                        <div class="side-bar-item">
                            <p><strong>Magazine</strong></p>
                            <span><i class="bi bi-chevron-down"></i></span>
                        </div>
                    </div>
                    <div class="side-price">
                        <p>PRICE RANGE</p>
                        <div >
                            <div class="side-price-item">
                                <p>Price Range:</p>
                                <span>10$</span>
                                <span>-</span>
                                <span>500$</span>
                            </div>
                            <input type="range"/> 
                        </div>
                        
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="product-box">
                            <div class="product-image">
                                <a href="#"><img src="~/images/Worldworst.jpg" weight="151", height="155"></a>
                                <div></div>
                            </div>
                            <div>
                                <p>World's Best Girlfriend</p>
                                <p>Durjoy Datta</p>
                                <div>
                                    <span>29$</span>
                                    <span>49$</span>
                                </div>
                            </div>
                            <div>
                                <button>BUY</button>
                                <button>ADD TO CART</button>
                                <div>ngoi</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        item
                    </div>

                    <div class="col-lg-3">
                        item
                    </div>

                    <div class="col-lg-3">
                        item
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

