.breadcrumb-wrap {
    display: flex;
    column-gap: 12px;
    margin: 40px 0px 22px 0px;
}
.breadcrumb-wrap a{
    color: #888;
    font-weight: 600;
}
    .breadcrumb-wrap a:hover {
        color: #000;
    }
    .breadcrumb-wrap b {
        font-weight: 600;

    }
    .header{
        font-weight: 600;
        margin-bottom: 30px;

    }
    .header-wrap{
        display: flex;
        justify-content: space-between;
    }
    .wrap-btn > button{
        background-color: transparent;
        padding: 6px 10px;
        border: 1px solid #444;

    }
.wrap-btn > button.active > i{
    color: #ff0000;
}
.side-bar > div > p{
    color: #ff0000;
    font-size: 17px;
    font-weight: 500;
}
.side-bar-item {
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 6px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.side-bar-item:last-child {
    border: none;
    
}
.side-price-item > span{
    color: #ff0000;

}
.side-price-item  {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.side-category{
    margin-bottom: 20px;
}

