@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <section class="shop-your-favourite">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">SHOP YOUR FAVOURITE BOOKS ONLINE AT OXFORD BOOKSTORE</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>

        <div class="wrap-card-heading">
            <div class="card-heading" data-url="/List?Service=NewReleases">
                <div class="card-heading-img">
                    <img src="/images/book-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">NEW RELEASE</span>
            </div>
            <div class="card-heading " data-url="/">
                <div class="card-heading-img">
                    <img src="/images/pen-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">SIGNED EDITIONS</span>
            </div>
            <div class="card-heading" data-url="/List?Service=BestSellers">
                <div class="card-heading-img">
                    <img src="/images/best-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">BESTSELLERS</span>
            </div>
            <div class="card-heading" data-url="/">
                <div class="card-heading-img">
                    <img src="/images/books-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">SUMMER READING</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/tag-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">Bengali Books</span>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="section-new-release">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">NEW RELEASES</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>

        <div class="wrap-carousel">
            <div class="owl-carousel" id="carousel-new-release">
                <div class="owl-carousel-item">
                    <div class="card-product">
                        <div class="card-product-heading">
                            <a href="#">
                                <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9780571365449.jpg" />
                            </a>
                            <button>
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </div>
                        <div class="card-product-content">
                            <h6 class="card-product-title">
                                <a href="#">
                                    Beautiful World Where Are You
                                </a>
                            </h6>
                            <div class="card-product-desc">
                                <span>
                                    <strong>Book Author: </strong>
                                </span>
                                <span>
                                    Sally Rooney
                                </span>
                            </div>
                            <div class="card-product-wrap-price">
                                <span class="card-product-current-price">440$</span>
                                <span class="card-product-old-price">550$</span>
                            </div>
                        </div>
                        <div class="card-product-fotter">

                            <div class="card-product-wrap-btn">
                                <button class="card-product-btn kap-btn kap-btn-primary">BUY</button>
                                <button class="card-product-btn kap-btn kap-btn-secondary">ADD TO CART</button>
                            </div>

                            <div class="card-product-wrap-star">
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="owl-carousel-item">
                    <div class="card-product">
                        <div class="card-product-heading">
                            <a href="#">
                                <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9781526646712.jpg" />
                            </a>
                            <button>
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </div>
                        <div class="card-product-content">
                            <h6 class="card-product-title">
                                <a href="#">
                                    The Harry Potter Wizarding Almanac
                                </a>
                            </h6>
                            <div class="card-product-desc">
                                <span>
                                    <strong>Book Author: </strong>
                                </span>
                                <span>
                                    JK ROWLING
                                </span>
                            </div>
                            <div class="card-product-wrap-price">
                                <span class="card-product-current-price">1279$</span>
                                <span class="card-product-old-price">1599$</span>
                            </div>
                        </div>
                        <div class="card-product-fotter">

                            <div class="card-product-wrap-btn">
                                <button class="card-product-btn kap-btn kap-btn-primary">BUY</button>
                                <button class="card-product-btn kap-btn kap-btn-secondary">ADD TO CART</button>
                            </div>

                            <div class="card-product-wrap-star">
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-controls">
                <button class="control control-left"><i class="bi bi-arrow-left"></i></button>
                <button class="control control-right"><i class="bi bi-arrow-right"></i></button>
            </div>

            <button class="kap-btn kap-btn-solid carousel-btn-more">View More</button>

        </div>
    </section>
</div>

<div class="container">
    <section class="section-bestsellers">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">BEST SELLERS</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>

        <div class="wrap-carousel">
            <div class="owl-carousel" id="carousel-bestsellers">
                <div class="owl-carousel-item">
                    <div class="card-product">
                        <div class="card-product-heading">
                            <a href="#">
                                <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9781474623070.jpg" />
                            </a>
                            <button>
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </div>
                        <div class="card-product-content">
                            <h6 class="card-product-title">
                                <a href="#">
                                    Time Shelter
                                </a>
                            </h6>
                            <div class="card-product-desc">
                                <span>
                                    <strong>Book Author: </strong>
                                </span>
                                <span>
                                    Georgi Gospodinov
                                </span>
                            </div>
                            <div class="card-product-wrap-price">
                                <span class="card-product-current-price">399$</span>
                                <span class="card-product-old-price">499$</span>
                            </div>
                        </div>
                        <div class="card-product-fotter">

                            <div class="card-product-wrap-btn">
                                <button class="card-product-btn kap-btn kap-btn-primary">BUY</button>
                                <button class="card-product-btn kap-btn kap-btn-secondary">ADD TO CART</button>
                            </div>

                            <div class="card-product-wrap-star">
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="owl-carousel-item">
                    <div class="card-product">
                        <div class="card-product-heading">
                            <a href="#">
                                <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9780143068099.jpg" />
                            </a>
                            <button>
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </div>
                        <div class="card-product-content">
                            <h6 class="card-product-title">
                                <a href="#">
                                    Indigo Selected Stories
                                </a>
                            </h6>
                            <div class="card-product-desc">
                                <span>
                                    <strong>Book Author: </strong>
                                </span>
                                <span>
                                    Satyajit Ray
                                </span>
                            </div>
                            <div class="card-product-wrap-price">
                                <span class="card-product-current-price">280$</span>
                                <span class="card-product-old-price">350$</span>
                            </div>
                        </div>
                        <div class="card-product-fotter">

                            <div class="card-product-wrap-btn">
                                <button class="card-product-btn kap-btn kap-btn-primary">BUY</button>
                                <button class="card-product-btn kap-btn kap-btn-secondary">ADD TO CART</button>
                            </div>

                            <div class="card-product-wrap-star">
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-controls">
                <button class="control control-left"><i class="bi bi-arrow-left"></i></button>
                <button class="control control-right"><i class="bi bi-arrow-right"></i></button>
            </div>

            <button class="kap-btn kap-btn-solid carousel-btn-more">View More</button>

        </div>
    </section>
</div>

<section class="slider-content">
    <div class="wrap-carousel">
        <div class="owl-carousel" id="slider-content">
            <div class="owl-carousel-item">
                <img src="/images/slider1.jpg" alt="Slider" />
            </div>
            <div class="owl-carousel-item">
                <img src="/images/slider2.jpg" alt="Slider" />
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="section-feature-book">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">FEATURED BOOK</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>

        <div class="wrap-carousel">
            <div class="owl-carousel" id="carousel-feature-book">
                <div class="owl-carousel-item">
                    <div class="card-product">
                        <div class="card-product-heading">
                            <a href="#">
                                <img src="/images/Customer.jpg" />
                            </a>
                            <button>
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </div>
                        <div class="card-product-content">
                            <h6 class="card-product-title">
                                <a href="#">
                                    Trải Nghiệm Khách Hàng Xuất Sắc
                                </a>
                            </h6>
                            <div class="card-product-desc">
                                <span>
                                    <strong>Book Author: </strong>
                                </span>
                                <span>
                                    Nguyễn Dương
                                </span>
                            </div>
                            <div class="card-product-wrap-price">
                                <span class="card-product-current-price">100$</span>
                                <span class="card-product-old-price">200$</span>
                            </div>
                        </div>
                        <div class="card-product-fotter">

                            <div class="card-product-wrap-btn">
                                <button class="card-product-btn kap-btn kap-btn-primary">BUY</button>
                                <button class="card-product-btn kap-btn kap-btn-secondary">ADD TO CART</button>
                            </div>

                            <div class="card-product-wrap-star">
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="carousel-controls">
                <button class="control control-left"><i class="bi bi-arrow-left"></i></button>
                <button class="control control-right"><i class="bi bi-arrow-right"></i></button>
            </div>

            <button class="kap-btn kap-btn-solid carousel-btn-more">View More</button>
        </div>
    </section>
</div>

<div class="container">
    <section class="section-sold-book">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">RECENT SOLD BOOK</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
        <div class="wrap-carousel">
            <div class="owl-carousel" id="carousel-sold-book">
                <div class="owl-carousel-item">
                    <div class="card-product">
                        <div class="card-product-heading">
                            <a href="#">
                                <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9789393852878.jpg" />
                            </a>
                            <button>
                                <i class="bi bi-suit-heart"></i>
                            </button>
                        </div>
                        <div class="card-product-content">
                            <h6 class="card-product-title">
                                <a href="#">
                                    The Greatest Indian Stories Ever Told
                                </a>
                            </h6>
                            <div class="card-product-desc">
                                <span>
                                    <strong>Book Author: </strong>
                                </span>
                                <span>
                                    Arunava Sinha
                                </span>
                            </div>
                            <div class="card-product-wrap-price">
                                <span class="card-product-current-price">799$</span>
                                <span class="card-product-old-price">999$</span>
                            </div>
                        </div>
                        <div class="card-product-fotter">

                            <div class="card-product-wrap-btn">
                                <button class="card-product-btn kap-btn kap-btn-primary">BUY</button>
                                <button class="card-product-btn kap-btn kap-btn-secondary">ADD TO CART</button>
                            </div>

                            <div class="card-product-wrap-star">
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                                <button><i class="bi bi-star"></i></button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="carousel-controls">
                <button class="control control-left"><i class="bi bi-arrow-left"></i></button>
                <button class="control control-right"><i class="bi bi-arrow-right"></i></button>
            </div>

            <button class="kap-btn kap-btn-solid carousel-btn-more">View More</button>
        </div>
    </section>
</div>

    <section class="wrap-feature-author">
        <div class="container">
            <div class="wrap-feature-author-inner">
                <div class="wrap-title">
                    <div class="title-img">
                        <img src="/images/Heading-Line-L.png" alt="heading left" />
                    </div>
                    <span class="title">FEATURED AUTHOR</span>
                    <div class="title-img">
                        <img src="/images/Heading-Line-R.png" alt="heading left" />
                    </div>
                </div>

                <div class="wrap-carousel">
                    <div class="owl-carousel" id="carousel-feature-author">
                        <div class="owl-carousel-item">
                            <div class="card-author">
                                <a href="#" class="card-author-img">
                                <img src="https://www.oxfordbookstore.com/public/uploads/author_images/1684757338_Preeti%20Shenoy-01.jpg" alt="Author Image" />
                                </a>
                                <p class="card-author-name">
                                Preeti Shenoy
                                </p>
                            </div>
                        </div>
                        <div class="owl-carousel-item">
                            <div class="card-author">
                                <a href="#" class="card-author-img">
                                    <img src="/images/avt.jpg" alt="Author Image" />
                                </a>
                                <p class="card-author-name">
                                Shashi Tharoor
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-controls">
                        <button class="control control-left"><i class="bi bi-arrow-left"></i></button>
                        <button class="control control-right"><i class="bi bi-arrow-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </section>

    @*<section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">PUBLISHERS</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>*@

@section scripts {
    <script src="/js/home.js"></script>
}