@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section class="shop-your-favourite">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">SHOP YOUR FAVOURITE BOOKS ONLINE AT OXFORD BOOKSTORE</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>

        <div class="wrap-card-heading">
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/book-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">NEW RELEASE</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/pen-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">SIGNED EDITIONS</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/best-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">BESTSELLERS</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/books-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">SUMMER READING</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/tag-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">Bengali Books</span>
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">NEW RELEASES</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">BEST SELLERS</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">FEATURED BOOK</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">RECENT SOLD BOOK</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>
    
    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">FEATURED AUTHOR</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>
    
    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">PUBLISHERS</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

</div>