@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section class="shop-your-favourite">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">SHOP YOUR FAVOURITE BOOKS ONLINE AT OXFORD BOOKSTORE</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>

        <div class="wrap-card-heading">
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/book-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">NEW RELEASE</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/pen-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">SIGNED EDITIONS</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/best-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">BESTSELLERS</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/books-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">SUMMER READING</span>
            </div>
            <div class="card-heading">
                <div class="card-heading-img">
                    <img src="/images/tag-item-card.png" alt="book item card" />
                </div>
                <span class="card-heading-title">Bengali Books</span>
            </div>
        </div>
    </section>

    <section class="section-new-release">
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">NEW RELEASES</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
        <div class="owl-carousel" id="carousel-new-release">
            <div class="owl-carousel-new-release-item">
                <div class="new-release-card">
                    <div class="new-release-card-heading">
                        <a href="#">
                            <img src="https://www.oxfordbookstore.com/public/uploads/product_images/9788177680171.jpg" />
                        </a>
                        <button>
                            <i class="bi bi-suit-heart"></i>
                        </button>
                    </div>
                    <div class="new-release-card-content">
                        <h6 class="new-release-card-title">The World after Apu Satyajit...</h6>
                        <div class="new-release-card-desc">
                            <span>
                                <strong>Book Author: </strong>
                            </span>
                            <span>
                                Swapan Mullick
                            </span>
                        </div>
                        <div class="new-release-card-wrap-price">
                            <span class="new-release-card-current-price">399$</span>
                            <span class="new-release-card-old-price">499$</span>
                        </div>
                    </div>
                    <div class="new-release-card-fotter">

                        <div class="new-release-card-wrap-btn">
                            <button class="new-release-card-btn">BUY</button>
                            <button class="new-release-card-btn">ADD TO CARD</button>
                        </div>

                        <div class="new-release-card-wrap-star">
                            <button><i class="bi bi-star"></i></button>
                            <button><i class="bi bi-star"></i></button>
                            <button><i class="bi bi-star"></i></button>
                            <button><i class="bi bi-star"></i></button>
                            <button><i class="bi bi-star"></i></button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">BEST SELLERS</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">FEATURED BOOK</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">RECENT SOLD BOOK</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">FEATURED AUTHOR</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

    <section>
        <div class="wrap-title">
            <div class="title-img">
                <img src="/images/Heading-Line-L.png" alt="heading left" />
            </div>
            <span class="title">PUBLISHERS</span>
            <div class="title-img">
                <img src="/images/Heading-Line-R.png" alt="heading left" />
            </div>
        </div>
    </section>

</div>

@section scripts {
    <script src="/js/home.js"></script>
}