@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_ErrorLayout";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <img src="/images/notfound.png" alt="Not Found" />
            </div>
        </div>
        <div class="col-lg-12 mt-4">
            <p class="text-center">Ohh... Looks like you've come to the wrong place! <a href="@(RouteConstant.HOME)">Back Home</a></p>
        </div>
    </div>
</div>
